.header {
    position: relative;
    background-color: var(--head-background-color);
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    padding: 10px 0px;
    display: flex;
  
    @media screen and (min-width: 1200px) {
    align-items: center;
    padding: 0;
    }
}

.header__contacts-list {
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    }
}

.no-scroll {
    overflow: hidden;
}

// .header {
//     display: flex;
//     align-items: center;
//     background-color: var(--head-background-color);
//     border-bottom: 1px solid #ECECEC;

//     @media screen and (min-width: 1200px) {}

//     .header__container {
//         display: flex;
//         align-items: center;
//     }

//     .header__logo--indent {
//         margin-right: 94px;
//         padding-top: 25px;
//         padding-bottom: 25px;
//     }

//     .header__contacts-list {
//         margin-left: auto;
//     }